02. CLIESC/WS_CONVUNI_SOAP_JAVA_CLIESC/xml-resources/web-service-references/WSConvUni/wsdl/localhost_8080/WS_CONVUNI_SOAPJAVA/WSConvUni.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.moster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.moster.edu.ec/" name="WSConvUni">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.moster.edu.ec/" schemaLocation="http://localhost:8080/WS_CONVUNI_SOAPJAVA/WSConvUni?xsd=1"/>
</xsd:schema>
</types>
<message name="cmAKm">
<part name="parameters" element="tns:cmAKm"/>
</message>
<message name="cmAKmResponse">
<part name="parameters" element="tns:cmAKmResponse"/>
</message>
<message name="cmAPies">
<part name="parameters" element="tns:cmAPies"/>
</message>
<message name="cmAPiesResponse">
<part name="parameters" element="tns:cmAPiesResponse"/>
</message>
<message name="cmAYardas">
<part name="parameters" element="tns:cmAYardas"/>
</message>
<message name="cmAYardasResponse">
<part name="parameters" element="tns:cmAYardasResponse"/>
</message>
<message name="cmAMm">
<part name="parameters" element="tns:cmAMm"/>
</message>
<message name="cmAMmResponse">
<part name="parameters" element="tns:cmAMmResponse"/>
</message>
<message name="cmAM">
<part name="parameters" element="tns:cmAM"/>
</message>
<message name="cmAMResponse">
<part name="parameters" element="tns:cmAMResponse"/>
</message>
<message name="cmAPulgadas">
<part name="parameters" element="tns:cmAPulgadas"/>
</message>
<message name="cmAPulgadasResponse">
<part name="parameters" element="tns:cmAPulgadasResponse"/>
</message>
<portType name="WSConvUni">
<operation name="cmAKm">
<input wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAKmRequest" message="tns:cmAKm"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAKmResponse" message="tns:cmAKmResponse"/>
</operation>
<operation name="cmAPies">
<input wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAPiesRequest" message="tns:cmAPies"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAPiesResponse" message="tns:cmAPiesResponse"/>
</operation>
<operation name="cmAYardas">
<input wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAYardasRequest" message="tns:cmAYardas"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAYardasResponse" message="tns:cmAYardasResponse"/>
</operation>
<operation name="cmAMm">
<input wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAMmRequest" message="tns:cmAMm"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAMmResponse" message="tns:cmAMmResponse"/>
</operation>
<operation name="cmAM">
<input wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAMRequest" message="tns:cmAM"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAMResponse" message="tns:cmAMResponse"/>
</operation>
<operation name="cmAPulgadas">
<input wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAPulgadasRequest" message="tns:cmAPulgadas"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConvUni/cmAPulgadasResponse" message="tns:cmAPulgadasResponse"/>
</operation>
</portType>
<binding name="WSConvUniPortBinding" type="tns:WSConvUni">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cmAKm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cmAPies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cmAYardas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cmAMm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cmAM">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cmAPulgadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSConvUni">
<port name="WSConvUniPort" binding="tns:WSConvUniPortBinding">
<soap:address location="http://localhost:8080/WS_CONVUNI_SOAPJAVA/WSConvUni"/>
</port>
</service>
</definitions>